/* *{
    background-color: #3a3f43;
} */
.banner{
  background-color: #3a3f43;
  margin: 75px;
  border-radius: 10px;
  text-align: center;
  ;
  }
  /* .bground{
  
  } */
  .data{
      display: flex;
      flex-direction: column;
  }
  .data ul{
      display: flex;
      list-style: none;
      margin-top: 100px;
  }
  li{
      align-items: center;
      text-align: center;
      margin: 40px;
      color: whitesmoke;
  }
  
  h1{
      padding-left: 30px;
      font-family: 'Bitter', serif;
      font-size: 75px;
      margin: 0;
      color: whitesmoke;
  }
  