.head{
  width: 30%;
  margin-left: 30px;
}
.nav-li li{
  margin-left: 10px;
  margin-right: 10px;
}
.nav-li button{
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 2px;
  
}
.navbars {
  background: #fff;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 0 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  z-index: 1000;
  box-shadow: 0 2px 4px rgb(0 0 0 / 10%);
  transition: .2s
}

